@import '../Styles/styles.scss';

.main-content {

    .top-bar {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        font-family: 'Verdana';
        font-weight: 400;
        .top-element{
            p{
                font-size: 24px;
            }
            span{
                font-size: 12px;
                color: #757575;
            }
        }

        .search-element {
            position: relative;
            display: flex;
            align-items: center;
            input {
                background: #EFEFEF;
                border-radius: 8px;
                font-style: italic;
                padding: .5rem 40px .5rem 10px;
                width: 300px;
                border: $btn-border;
            }
            .icon {
                position: absolute;
                right: 20px;
                top:50%;
                transform: translateY(-40%);
            }

        }
    }
    // .homey {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     padding-right: 32px;
    //     padding-top: 30px;
    //     .heading {
    //         font-family: 'Verdana';
    //         font-weight: 400;
    //         font-size: 24px;
    //         line-height: 29px;
    //         color: #757575;
    //     }
    //     p{
    //         font-family: 'Verdana';
    //         font-weight: 400;
    //         font-size: 16px;
    //         line-height: 19px;
    //         color: #757575;
    //     }
    // }

    // .search-bar{
    //     display: flex;
    //     align-items: center;
    //     position: relative;
    //     div{
    //         position: absolute;
    //         top: 50%;
    //         transform: translateY(-50%);
    //         right: 12px;
    //     }
    // }
    // input{
    //     font-family: 'Verdana';
    //     font-style: italic;
    //     font-weight: 400;
    //     font-size: 16px;
    //     line-height: 19px;
    //     width: 320px;
    //     height: 38px;
    //     padding: 12px 24px;
    //     gap: 8px;
    //     border-radius: 8px;
    //     background: #EFEFEF;
    //     border: none;
    //     outline: none
    // }

    

    // .grid {
    //     position: absolute;
    //     left: 326px;
    //     top: 173px;
    //     display: grid;
    //     grid-template-columns: repeat(4, 1fr);
    //     width: 990px;
    //     height: 211px;
    //     background: #E9ECED;
    //     box-shadow: 0px 4px 24px rgba(191, 191, 191, 0.25);
    //     border-radius: 16px;
    //     .features{
    //         border-left: 1px solid #3C5148;
            
    //     }
    // }
}