@import '../Styles/styles.scss';

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $background-color;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.05);
    padding-bottom: 3rem;
    .nav-brand{
        padding: 2.5rem 0;
    }
    .right-icon{
        margin-left: 10px;
    };
    .left-icon{
        padding-right: 1rem;
    }
}

.side-bar-menu{
    .avatar{
        display: flex;
        align-items: center;
        
        .avatar-img{

            padding: 0 16px;
        }
        p{
            font-family: 'Verdana';
            font-size: 1rem;
        }
    }

}

.dashboard-menu{
    margin-top: 3rem;
    .dashboard-menu-item{
        padding: 1rem;
        color: grey;
        
        .icon{
            font-size: 20px;
        }
        

        &:nth-child(3),
        &:nth-child(4){
            padding-left: 1.5rem;
        }

        &:hover{
            background-color: #6B8E4E;
            color: #ffffff;
            border-radius: 5px;
        }
        
        
    }
}


.siderbar-bottom{
    color: grey;
    width: 100%;
    padding-left: 3rem;
    li{
        &:hover{
            color: initial;
        }
        &:first-child{
            margin-bottom: 1rem;
        }
    }
}
    // .sidebar {
    // ul {
    // .admin-info {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // padding: 34.86px;
    // }
    
    // .home {
    //   position: absolute;
    //   font-size: 20px;
    //   line-height: 24px;
    //   color: #FFFFFF;
    //   text-align: center;
    //   justify-content: center;
    //   width: 278px;
    //   padding: 36px;
    //   background: $primary-color;
    //   border-radius: 8px;
    // }
    
    // .departments {
    //   position: absolute;
    //   order: 1;
    //   top: 576px;
    //   left: 102px;
    //   padding: 0px 8px;
    //   display: flex;
    //   flex-direction: row;
    //   align-items: center;
    //   width: 147px;
    //   height: 24px;
    
    //   img {
    //     position: absolute;
    //     right: 180px;
    //   }
    // }
    
    // .lecturers {
    //   position: absolute;
    //   display: flex;
    //   flex-direction: row;
    //   align-items: center;
    //   top: 613px;
    //   left: 87px;
    //   padding: 4px 8px;
    
    //   img {
    //     position: absolute;
    //     left: 90.14px;
    //   }
    // }

    // .statistics {
    //   position: absolute;
    //   display: flex;
    //   flex-direction: row;
    //   align-items: center;
    //   top: 653px;
    //   left: 87px;
    //   padding: 4px 8px;
    
    //   img {
    //     position: absolute;
    //     left: 90.14px;
    //   }
    // }

    // .settings {
    //   position: absolute;
    //   display: flex;
    //   flex-direction: row;
    //   align-items: center;
    //   top: 929px;
    //   left: 81px;
    //   padding: 4px 8px;
    
    //   img {
    //     position: absolute;
    //     left: 90.14px;
    //   }
    // }

    // .log-out {
    //   position: absolute;
    //   display: flex;
    //   flex-direction: row;
    //   align-items: center;
    //   top: 960px;
    //   left: 81px;
    //   padding: 4px 8px;
    
    //   img {
    //     position: absolute;
    //     left: 90.14px;
    //   }
    // }
    // }
    // }
    
    
    